@import url("https://fonts.cdnfonts.com/css/montserrat");
@import url("clean_style.css");
.body {
    background-color: #ffffff;
    font-family: "Montserrat";
    color: #000000;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    margin:0;
}
p, li {
    text-align: justify;
    span{
        text-indent: 0em;
    }
}

.header {
    display: flex;
    font-size: larger;
    align-items: center;
    background-color: rgb(0 0 0 / 75%);
    color: white;
}
.footer {
    text-align: center;
    display: flex;

    background-color: rgb(0 0 0 / 75%);
    color: white;
    height: 3rem;
    justify-content: center;
    align-items: center;
    font-size: larger;
}
.main {
    flex: 1 1 auto;
    display: flex;
    justify-content: start;
    align-items: start;
    overflow-y: auto;
    font-size: 15px;

}
a {
    border-bottom: 1px dotted;
}
h1,
h2,
h3 {
    font-weight: 700;
}

.header__title {
    flex: 1 1 auto;
    text-align: center;
    height: 100%;
}
.title {
    padding: 0.3%;
}

.image {
    width: 3em;
}

.title__student {
    padding-top: 0.7%;
}
.title__student span {
    cursor: pointer;
    border-bottom: 1px dotted;
}
.title__student .tooltip {
    visibility: hidden;
    padding: 0.4em 0;

    position: absolute;
    z-index: 1;
    top: 1.2em;
    left: 85%;
}

.title__student:has(span:hover) .tooltip {
    visibility: visible;
}

[class$="--bordered"] {
    border: 1px solid #8079b6;
    padding: 0.5%;
}
.nav {
    display: flex;
    height: 100px;
}
.nav--row {
    justify-content: center;
    flex-wrap: nowrap;
}
.nav--coll {
    width: 20%;
    flex-direction: column;
}

.nav-item {
    background-color: #a5a0e0;
    border: 1px solid #8079b6;
    border-radius: 5px;
    margin: 0.5em 0.3em;
    flex: 1 1 auto;
}
.nav-item:hover {
    background-color: #8079b6;
}

.nav-item.active {
    background-color: #8079b6;
}
#aside_buttons{
    height: 100%;
    background-color: rgb(255, 255, 255);
    overflow-y: auto;

}
.aside-left {
    padding: 1em;
}
.main-content {
    flex: 1 1 70%;
    height: 100%;
    overflow-y: auto;
    padding: 1em 2em;]
    .loading{
        text-align:center;
    }
    pre{
        border: 1px solid #8079b6;
        border-radius: 5px;

    }
}
.button {
    background-color: inherit;
    border-radius: 5px;
    padding: 0.3em;
    font-size: medium;
    color: inherit;
    height: 100%;
    width: 100%;
    font-size: 15px;
    min-height: 50px;
}