.inserted__title h2,  
.inserted__content h2{
    text-align: center;
    padding: 1em 0;
}

.inserted__content {
   
    li {
        display: list-item;
        padding: 0.5em 2em;
        text-align: justify;
    }
}